* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.score {
    display: flex;
    gap: 50px;
}

.scoretxt {
    text-align: center;
    margin: 0px;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px;
}

.player-selection, .computer-selection {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    > img {
        height: 100px;
        width: 100px
    }
}

.player-choices {
    display: flex;
    gap: 50px;
    margin: 20px;
}

button { 
    border: 2px solid black;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

button.choice {
    transition: all 0.5s ease;
    height: 100px;
    width: 100px;
}

button.choice:hover {
    transform: scale(1.1);
}

img {
    height: 60px;
    width: 60px;
}